<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
        <listener class-name="resources.ExtentReporterNG"/>
    </listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="restapitesting.ApiTests"/>
      <class name="restapitesting.ApiXMLTest"/>
      <class name="restapitesting.LibraryApiTest"/>
      <class name="restapitesting.TwitterRestApiTest"/>
      <class name="restapitesting.ApiJsonTest"/>
      <class name="restapitesting.JiraRestApiTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
